@use "../../resets.scss";

// functional

@mixin base {
  .dropdown-container {
    position: relative;
    width: fit-content;

    *,
    & {
      box-sizing: border-box;
    }

    .dropdown-toggle {
      @include resets.input;
      cursor: pointer;
      width: fit-content;
      display: flex;

      &.disabled {
        cursor: not-allowed;
      }

      .icon {
        width: 1em;
        height: 1em;
        margin-left: auto;
      }
    }

    .dropdown-menu {
      width: fit-content;
      position: absolute;
      z-index: 1;

      ul {
        @include resets.list;
      }
    }

    .dropdown-menu-item {
      @include resets.input;
      cursor: pointer;
    }
  }
}

/*
$colors: (
  bg: #eee,
  bg-selected: #ccc,
  bg-hover: #ddd,
  shadow: 0 2px 5px #000,
  fg: #222,
);
*/

@mixin styled($colors) {
  .dropdown-container {
    margin-left: 0.5em;
    font-size: 0.9em;

    .dropdown-toggle {
      background: map-get($colors, bg);
      border-radius: 0.2em;
      padding: 0.5em 0.3em;
      min-width: 8em;

      .placeholder {
        color: map-get($colors, fg);
      }

      .content {
        margin-right: 0.5em;
      }

      .icon {
        .fill {
          fill: map-get($colors, fg);
        }

        .stroke {
          stroke: map-get($colors, fg);
        }
      }
    }

    .dropdown-menu {
      box-shadow: map-get($colors, shadow);
      padding: 0.3em 0;
      border-radius: 0.2em;
      min-width: 10em;
      margin-top: 0.2em;
      background: map-get($colors, bg);
      right: 0;
    }

    .dropdown-menu-item {
      padding: 0.5em 0.3em;
      width: 100%;

      &:hover {
        background: map-get($colors, bg-hover);
      }

      &.selected {
        background: map-get($colors, bg-selected);
      }
    }
  }
}
