@use "~mnote-styles/mnote-inputs" as inputs;

.link-viewer-editor {
  // todo
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: auto;

  .content {
    word-break: break-word;
    box-sizing: border-box;
    padding: 10%;
    height: fit-content;
    margin: auto; // https://stackoverflow.com/questions/33454533/
  }

  .open-button {
    text-decoration: none;
    color: inherit;

    @include inputs.button-normal;
  }
}
