@use "~mnote-styles/mnote-inputs" as inputs;
@use "~mnote-components/resets";

.link-viewer-editor {
  // todo
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: auto;

  .content {
    word-break: break-word;
    box-sizing: border-box;
    padding: 10%;
    height: fit-content;
    margin: auto; // https://stackoverflow.com/questions/33454533/
  }

  .copy-button {
    @include resets.input;
  }

  .open-button,
  .copy-button {
    text-decoration: none;
    color: inherit;
    margin-block-end: 0.5em;

    @include inputs.button-normal;
  }
}
