@use "../util/scrollbar.scss";

@mixin editor($theme) {
  .editor-main,
  .editor-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .editor-container {
    overflow: auto;
    @include scrollbar.scrollbar(map-get($theme, bg-secondary));
  }
}
