@use "../util/scrollbar.scss";
@use "../mnote-vars.scss" as mn;

@mixin editor {
  .editor-main,
  .editor-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .editor-container {
    overflow: auto;
    @include scrollbar.scrollbar(map-get(mn.$vars, main-scrollbar));
  }
}
