@use "../mnote-vars.scss" as mn;

@mixin filesearch {
  .filesearch {
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }

    .icon {
      width: 100%;
      height: 100%;

      &.close {
        display: none;
      }

      &.search {
        margin: 5%;
      }
    }

    .filesearch-button {
      width: 24px;
      flex-shrink: 0;
      height: 100%;
      padding: 4px;
      cursor: pointer;

      // todo: sidebar-main-fg-secondary
      // with sidebar.scss's .sidemenu-button

      .fill {
        fill: map-get(mn.$vars, main-fg-secondary);
      }
      .stroke {
        stroke: map-get(mn.$vars, main-fg-secondary);
      }

      &:hover {
        .fill {
          fill: map-get(mn.$vars, sidebar-fg);
        }
        .stroke {
          stroke: map-get(mn.$vars, sidebar-fg);
        }
      }
    }

    .filesearch-input {
      display: none;
      flex: 1;
      color: map-get(mn.$vars, main-fg);
      font-family: map-get(mn.$vars, main-font);
      font-size: 13px;
      line-height: initial;
      background: none;
      outline: none;
      border: none;
      overflow-x: hidden;

      &::-webkit-input-placeholder {
        color: map-get(mn.$vars, main-fg-dim);
      }

      &:-ms-input-placeholder {
        color: map-get(mn.$vars, main-fg-dim);
      }

      &::placeholder {
        color: map-get(mn.$vars, main-fg-dim);
      }
    }

    &.searching {
      .filesearch-input {
        display: block;
      }

      .icon {
        &.close {
          display: block;
        }
        &.search {
          display: none;
        }
      }
    }
  }
}
