// styles for modules/menubar.ts

@use "../mnote-vars.scss" as mn;
@use "../mnote-resets.scss";

@mixin menubar {
  .menubar {
    width: 100%;
    height: 100%;
    color: map-get(mn.$vars, main-fg-dim);
    font-family: map-get(mn.$vars, main-font);
    display: flex;
    padding: 0 0.5em;
    flex-direction: row;
    font-size: 12px;

    .menubar-left {
      width: 100%;
      height: 100%;
      padding-left: 1em;
      text-align: right;
      cursor: default;
    }

    .menubar-right {
      height: 100%;
      padding-right: 1em;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: fit-content;
      margin-left: 0.8em;
    }

    .menubar-menu-button {
      @include mnote-resets.input;
      height: 14px;
      width: 14px;
      cursor: pointer;
      margin-left: 4px;

      .menubar-icon {
        height: 100%;
        width: 100%;

        .fill {
          fill: map-get(mn.$vars, main-fg-dim);
        }
        .stroke {
          stroke: map-get(mn.$vars, main-fg-dim);
        }

        &:hover {
          .fill {
            fill: map-get(mn.$vars, main-fg-secondary);
          }
          .stroke {
            stroke: map-get(mn.$vars, main-fg-secondary);
          }
        }
      }
    }
  }
}
