@mixin sidebar($theme) {
  .sidemenu-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  .sidemenu-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px; // see layout styles

    .fill {
      fill: map-get($theme, "fg-secondary");
    }

    .stroke {
      stroke: map-get($theme, "fg-secondary");
    }

    &:hover {
      cursor: pointer;

      .fill {
        fill: map-get($theme, "fg-main");
      }

      .stroke {
        stroke: map-get($theme, "fg-main");
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
