@use "~mnote-components/vanilla/menu.scss";
@use "../mnote-vars.scss" as mn;

@mixin menu {
  $menu-theme: (
    bg-main: map-get(mn.$vars, bg-main),
    bg-hover: map-get(mn.$vars, bg-secondary),
    shadow: map-get(mn.$vars, shadow),
    fg-main: map-get(mn.$vars, fg-main),
    fg-shortcut: map-get(mn.$vars, fg-dim),
    border-divider: map-get(mn.$vars, border-main),
  );

  @include menu.menu($menu-theme);
}
