@use "~mnote-components/vanilla/menu.scss";
@use "../mnote-vars.scss" as mn;

@mixin menu {
  $menu-theme: (
    main-bg: map-get(mn.$vars, main-bg),
    bg-hover: map-get(mn.$vars, main-bg-secondary),
    shadow: map-get(mn.$vars, main-shadow),
    icon-fg: map-get(mn.$vars, main-fg-dim),
    main-fg: map-get(mn.$vars, main-fg),
    fg-shortcut: map-get(mn.$vars, main-fg-dim),
    border-divider: map-get(mn.$vars, main-border),
  );

  @include menu.menu($menu-theme);
}
