@use "../util/scrollbar.scss";
@use "../mnote-vars.scss" as mn;

// styles for the filetree component (components/jsx)

@mixin openfiles {
  .openfiles-main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: map-get(mn.$vars, font-main);
  }

  .tree-item {
    .openfiles-close {
      display: none;
      margin-left: auto;
      margin-right: 0;

      &:hover .fill {
        fill: map-get(mn.$vars, fg-main);
      }
      &:hover .stroke {
        stroke: map-get(mn.$vars, fg-main);
      }
    }

    &:hover {
      .openfiles-close {
        display: flex;
      }
    }
  }
}
