@use "../util/scrollbar.scss";
@use "../mnote-vars.scss" as mn;
@use "~mnote-components/resets.scss";

// styles for the filetree component (components/jsx)

@mixin opentabs {
  .opentabs-main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: map-get(mn.$vars, main-font);
  }

  .tree-item {
    padding: 0.4em 0.5em;

    .opentabs-close {
      @include resets.input;
      display: flex;
      opacity: 0;
      margin-left: auto;
      margin-right: 0;

      &:hover,
      &:focus {
        .fill {
          fill: map-get(mn.$vars, main-fg);
        }
        .stroke {
          stroke: map-get(mn.$vars, main-fg);
        }
      }
    }

    &:hover,
    &:focus {
      .opentabs-close {
        opacity: 1;
      }
    }
  }
}
