@mixin prompt($theme) {
  .prompt-overlay {
    width: 100vw;
    height: 100vh;
    background: map-get($theme, overlay-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .prompt {
    z-index: 21;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: map-get($theme, bg-main);
    color: map-get($theme, fg-main);
    padding: 0.8em;
    margin-top: 2em;
    border-radius: 5px;
    box-sizing: border-box;
    width: min-content;
    min-width: 360px;

    .prompt-buttons {
      width: 100%;
      text-align: right;

      .prompt-button {
        font-family: map-get($theme, font-main);
        font-size: 13px;
        display: inline-block;
        flex-direction: row;
        color: map-get($theme, fg-main);
        padding: 0.8em;
        margin-left: 0.5em;
        border-radius: 5px;
        cursor: pointer;

        &.normal {
          background: map-get($theme, btn-main-bg);
          color: map-get($theme, btn-main-fg);

          &:hover {
            background: map-get($theme, btn-main-bg-hover);
            color: map-get($theme, btn-main-fg-hover);
          }
        }

        &.emphasis {
          background: map-get($theme, btn-emphasis-bg);
          color: map-get($theme, btn-emphasis-fg);

          &:hover {
            background: map-get($theme, btn-emphasis-bg-hover);
            color: map-get($theme, btn-emphasis-fg-hover);
          }
        }
      }
    }

    .prompt-text {
      font-family: map-get($theme, font-main);
      margin-bottom: 1em;
      font-size: 13px;
    }

    .prompt-input {
      resize: none;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      border: none;
      border-radius: 5px;
      background: map-get($theme, bg-secondary);
      margin-bottom: 1em;
      padding: 0.8em;
      color: map-get($theme, fg-main);
      font-family: map-get($theme, font-main);
      font-size: 13px;
      line-height: initial;
    }
  }
}
