@use "normalize";

@use "layout";
@use "menubar";
@use "editor";
@use "sidebar";
@use "components";

@use "sass:map";

@mixin core($theme) {
  $vars: ();

  :root {
    @each $k, $v in $theme {
      // turn into css variables
      #{"--mnote-" + $k}: $v;

      // insert into the variable map
      $vars: map-merge(
        $vars,
        (
          $k: var(#{"--mnote-" + $k}),
        )
      );
    }
  }

  .mnote {
    width: 100%;
    height: 100%;
    font-family: map-get($theme, font-main);

    @include normalize.normalize;

    @include layout.layout($vars);
    @include menubar.menubar($vars);
    @include editor.editor($vars);
    @include sidebar.sidebar($vars);
    @include components.components($vars);
  }
}
