@use "./util/scrollbar.scss";
@use "sass:map";

@mixin editor($theme) {
  .editor-main,
  .editor-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

    @include scrollbar.scrollbar(map.get($theme, "bg-secondary"));
  }

  .placeholder-nothing {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mnote-fg-dim);
  }
}
