// layout styles for modules/layout.ts
// using split.js

@use "sass:map";

@mixin layout($theme) {
  .layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    .gutter {
      background-color: map.get($theme, "sidebar-bg-main");
      background-repeat: no-repeat;
      background-position: 50%;
    }

    .gutter.gutter-horizontal {
      cursor: col-resize;
    }

    .layout-sidebar {
      background-color: map.get($theme, "sidebar-bg-main");
      display: flex;
      flex-direction: column;

      .sidebar-filetree {
        height: 100%;
      }

      // the menu in the bottom of the sidebar
      .sidebar-menu {
        height: 30px;
        min-height: 30px;
      }
    }

    .layout-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .layout-menubar {
        height: 24px;
        width: 100%;
        line-height: 24px;
      }

      .layout-contents {
        background-color: map.get($theme, "bg-main");
        width: 100%;
        height: 100%;
      }
    }
  }
}