.edit-card .card {
  padding: 1em;
}

.edit-card .card:hover {
  background: white;
}

.edit-card-textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

.edit-card-textarea::-webkit-scrollbar {
  display: none;
}
