@use "sass:map";

// styles for the filetree component (components/jsx)

@mixin filetree($theme) {
  .filetree-container {
    width: 100%;
    height: 100%;
  }

  .filetree-main {
    color: map.get($theme, "sidebar-fg-main");
    padding: 1em .3em 0 calc(5px + .3em); // 5px for gutter
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: map.get($theme, "font-main");

    .hidden {
      display: none;
    }

    .filetree-item {
      box-sizing: border-box;
      cursor: pointer;
      font-size: 13px;
      display: flex;
      flex-direction:row;
      padding: .4em;
      margin: 0 0 0.2em 0;
      border-radius: 5px;

      &.focused,
      &:hover {
        background: map.get($theme, "sidebar-bg-hover");
      }

      &.file {
        word-break: break-all;
      }
    }

    .filetree-dir-children {
      box-sizing: border-box;
      padding-left: .5em;
    }
  }
}