@use "sass:map";
@use "../util/scrollbar.scss";

// styles for the filetree component (components/jsx)

@mixin filetree($theme) {
  .filetree-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    @include scrollbar.scrollbar(
      map.get($theme, "sidebar-bg-hover")
    );
  }

  .filetree-main {
    color: map.get($theme, "sidebar-fg-main");
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: map.get($theme, "font-main");

    .hidden {
      display: none;
    }

    .filetree-item {
      box-sizing: border-box;
      cursor: pointer;
      font-size: 13px;
      display: flex;
      flex-direction:row;
      padding: .5em;
      margin: 0 0 0.2em 0;
      border-radius: 5px;

      &.focused,
      &:hover {
        background: map.get($theme, "sidebar-bg-hover");
      }

      &.file {
        word-break: break-all;
      }
    }

    .filetree-dir-children {
      box-sizing: border-box;
      padding-left: .8em;
    }

    .filetree-item-icon {
      width: 14px;
      height: 14px;
      min-width: 14px;
      margin: auto .5em auto 0;

      .fill {
        fill: map.get($theme, "sidebar-fg-secondary");
      }

      .stroke {
        stroke: map.get($theme, "sidebar-fg-secondary");
      }
    }
  }
}
