@use "~mnote-components/vanilla/menu.scss";

@mixin menu($theme) {
  $menu-theme: (
    bg-main: map-get($theme, bg-main),
    bg-hover: map-get($theme, bg-secondary),
    shadow: map-get($theme, shadow),
    fg-main: map-get($theme, fg-main),
    fg-shortcut: map-get($theme, fg-dim),
    border-divider: map-get($theme, border-main),
  );

  @include menu.menu($menu-theme);
}
