@use "sass:map";
@use "../util/scrollbar.scss";

@mixin plaintext($theme) {
  .plaintext-editor {
    width: 100%;
    height: 100%;

    .plaintext-textarea {
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      resize: none;
      outline: none;
      border: none;
      font-family: map.get($theme, "font-monospace");
      font-size: 13px;
      line-height: 1.5;
      color: inherit;
      background: inherit;

      @include scrollbar.scrollbar(map.get($theme, "bg-secondary"));
    }
  }
}
