@use "~mnote-styles/mnote-vars" as mn;

.image-viewer-editor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  * {
    box-sizing: border-box;
  }

  .image-viewer-image {
    image-rendering: pixelated;
    box-shadow: map-get(mn.$vars, main-shadow);
  }
}
