@use "~mnote-components/resets.scss";

/*
$a: (
  item-bg: map-get(mn.$vars, sidebar-bg),
  item-fg: map-get(mn.$vars, sidebar-fg),
  item-icon: map-get(mn.$vars, sidebar-item-icon),
  item-hover-bg: map-get(mn.$vars, sidebar-item-hover-bg),
  item-hover-fg: map-get(mn.$vars, sidebar-item-hover-fg),
  item-hover-icon: map-get(mn.$vars, sidebar-item-icon-hover),
  item-focused-bg: map-get(mn.$vars, sidebar-item-hover-bg),
  item-focused-fg: map-get(mn.$vars, sidebar-item-hover-fg),
  item-focused-icon: map-get(mn.$vars, sidebar-item-icon-focused),
);
*/

// internal
@mixin hovered($theme) {
  background: map-get($theme, item-hover-bg);
  color: map-get($theme, item-hover-fg);
  .fill {
    fill: map-get($theme, item-hover-icon);
  }
  .stroke {
    stroke: map-get($theme, item-hover-icon);
  }
}

// internal
@mixin focused($theme) {
  background: map-get($theme, item-focused-bg);
  color: map-get($theme, item-focused-fg);
  .fill {
    fill: map-get($theme, item-focused-icon);
  }
  .stroke {
    stroke: map-get($theme, item-focused-icon);
  }
}

@mixin tree($theme) {
  .tree-hidden {
    display: none !important;
  }

  .tree-item-li {
    @include resets.list-item;
  }

  .tree-item {
    @include resets.input;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 0 0 0.2em;
    border-radius: 5px;
    word-break: break-all;
    background: map-get($theme, item-bg);
    color: map-get($theme, item-fg);

    &.tree-hovered,
    &.tree-enable-hover:hover {
      @include hovered($theme);
    }

    &.tree-focused,
    &.tree-enable-hover.tree-focused {
      @include focused($theme);
    }

    .tree-item-icon {
      width: 14px;
      height: 14px;
      min-width: 14px;
      margin: auto 0.5em auto 0;
      box-sizing: border-box;

      .fill {
        fill: map-get($theme, item-icon);
      }

      .stroke {
        stroke: map-get($theme, item-icon);
      }

      svg {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }
    }
  }

  .tree-children {
    @include resets.list;
    box-sizing: border-box;
    padding-left: 0.8em;
  }
}

@mixin active-container($theme) {
  @include hovered($theme);
  border-radius: 5px;

  .tree-children {
    @include hovered($theme);
  }
  .tree-item {
    @include hovered($theme);
  }
}
