@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-components/react/dropdowns/dropdowns.scss";
@use "~mnote-styles/mnote-inputs.scss" as inputs;

@mixin inputs {
  .inputs-boolean {
    width: 2.8em;
    height: 1.4em;
    cursor: pointer;

    svg {
      pointer-events: none;
    }

    &.off {
      .bg {
        fill: map-get(mn.$vars, btn-main-bg);
      }
      .handle {
        fill: map-get(mn.$vars, btn-main-fg);
      }

      &:hover {
        .bg {
          fill: map-get(mn.$vars, btn-main-bg-hover);
        }
        .handle {
          fill: map-get(mn.$vars, btn-main-fg-hover);
        }
      }
    }

    &.on {
      .bg {
        fill: map-get(mn.$vars, btn-emphasis-bg);
      }
      .handle {
        fill: map-get(mn.$vars, btn-emphasis-fg);
      }
      &:hover {
        .bg {
          fill: map-get(mn.$vars, btn-emphasis-bg-hover);
        }
        .handle {
          fill: map-get(mn.$vars, btn-emphasis-fg-hover);
        }
      }
    }
  }

  .inputs-select {
    width: 100%;

    $dropdown-colors: (
      bg: map-get(mn.$vars, bg-secondary),
      bg-selected: map-get(mn.$vars, fg-dimmer),
      bg-hover: map-get(mn.$vars, bg-main),
      shadow: map-get(mn.$vars, shadow),
      fg: map-get(mn.$vars, fg-main),
    );

    @include dropdowns.base;
    @include dropdowns.styled($dropdown-colors);

    .dropdown-container {
      font-size: 0.9em;
      width: 100%;

      .dropdown-toggle {
        width: 100%;
      }
    }
  }

  .inputs-string {
    .input {
      @include inputs.text-input-base;
      font-size: 0.9em;
      padding: 0.5em 0.3em;
      border: solid 1px transparent;
      border-radius: 0.2em;

      &.invalid {
        border: solid 1px #f66;
      }
    }

    .invalid-message {
      color: #f66;
      font-size: 0.8em;
      margin-top: 0.2em;
    }
  }
}
