@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-styles/mnote-inputs" as mn-inputs;
@use "~mnote-components/vanilla/word-stats.scss";
@use "~mnote-components/react/tree.scss";
@use "./inputs.scss";

.settings-editor {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  .subcategory-main {
    .subcategory-title {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .subcategory-icon {
      margin-right: 1em;
      width: 2em;
      height: 2em;
      flex-shrink: 0;

      .fill {
        fill: map-get(mn.$vars, main-fg-secondary);
      }
      .stroke {
        stroke: map-get(mn.$vars, main-fg-secondary);
      }
    }
  }

  .settings-view-toggle {
    @include word-stats.word-stats;
    color: map-get(mn.$vars, main-fg-dim);
  }

  .settings-textarea {
    padding: 2em 3em 3em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    font-family: map-get(mn.$vars, main-font-monospace);
    font-size: 13px;
    line-height: 1.5;
    color: inherit;
    background: inherit;

    @include mn.scrollbar(map-get(mn.$vars, main-scrollbar));
  }

  .settings-main {
    width: 90%;
    height: 100%;
    max-width: 720px;
    margin: auto;
    padding: 1.2em 0;

    display: flex;
    flex-direction: row;

    .settings-contents {
      flex: 1;
      padding: 0 1.2em;
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      @include mn.scrollbar(map-get(mn.$vars, main-scrollbar));

      .subcategory-main {
        flex: 1;
      }

      .settings-contents-bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1.2em 0 0.5em;

        .settings-save-button {
          @include mn-inputs.button-normal;
        }
      }
    }

    .settings-toc {
      width: fit-content;
      padding: 0 1.2em;
      font-size: 0.9em;
      border-left: solid 1px var(--mnote-main-border);

      height: 100%;
      overflow-y: auto;
      @include mn.scrollbar(map-get(mn.$vars, main-scrollbar));

      $theme: (
        item-bg: map-get(mn.$vars, main-bg),
        item-fg: map-get(mn.$vars, main-fg),
        item-icon: map-get(mn.$vars, main-fg-dim),
        item-hover-bg: map-get(mn.$vars, main-bg-secondary),
        item-hover-fg: map-get(mn.$vars, main-fg),
        item-hover-icon: map-get(mn.$vars, main-fg-dim),
        item-focused-bg: map-get(mn.$vars, main-bg-secondary),
        item-focused-fg: map-get(mn.$vars, main-fg),
        item-focused-icon: map-get(mn.$vars, main-fg-dim),
      );

      @include tree.tree($theme);

      .tree-item {
        min-width: 10em;
        max-width: 12em;
      }
    }
  }

  .settings-toc-category {
    margin: 1em 0;
  }

  .settings-input-row {
    margin: 2em 0;
    display: flex;
    flex-direction: row;

    .left {
      padding-right: 1.2em;
      flex: 1;

      .title {
        margin: 0 0 0.5em;
        font-weight: bold;
      }

      .description {
        color: map-get(mn.$vars, main-fg-secondary);
        font-size: 0.85em;
      }
    }

    .right {
      flex: 0.5;
      display: flex;
      align-items: center;
    }
  }

  @include inputs.inputs;
}
