@use "~mnote-styles/mnote-vars" as mn;
@import "./todo/todo";

// component hierarchy > component > state > color > color variant

$colors: (
  icon-fg: map-get(mn.$vars, main-fg-dim),
  icon-hover-fg: map-get(mn.$vars, main-fg-secondary),
  dropdown-bg: map-get(mn.$vars, main-bg-secondary),
  dropdown-bg-selected: map-get(mn.$vars, main-fg-dimmer),
  dropdown-bg-hover: map-get(mn.$vars, main-bg),
  dropdown-shadow: map-get(mn.$vars, main-shadow),
  dropdown-fg: map-get(mn.$vars, main-fg),
  item-border: map-get(mn.$vars, main-border),
  item-editing-border: map-get(mn.$vars, main-fg-secondary),
  item-done-fg: map-get(mn.$vars, main-fg-dim),
  item-placeholder-fg: map-get(mn.$vars, main-fg-dim),
  title-placeholder-fg: map-get(mn.$vars, main-fg-dim),
  bullet-border: map-get(mn.$vars, main-fg-dim),
  bullet-hover-bg: map-get(mn.$vars, main-bg-secondary),
  main-fg: map-get(mn.$vars, main-fg),
  accent: map-get(mn.$vars, main-fg),
);

.todo-extension {
  font-size: 0.9em;
  max-width: 720px;
  width: 80%;
  margin: auto;

  @include todo($colors);
}
