@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-styles/mnote-rich-text" as richtext;
@use "~mnote-components/vanilla/word-stats";

.md-extension {
  --md-font-size: 1em;
  --md-line-height: 1.35;

  width: 100%;
  height: 100%;
  font-size: var(--md-font-size);

  * {
    font-size: 1em;
    line-height: var(--md-line-height) !important;
  }

  .md-container {
    @include richtext.prelude;

    width: 80%;
    max-width: 740px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: map-get(mn.$vars, main-bg);
    position: relative; // tooltip

    .editor {
      box-sizing: border-box;
      line-height: 1.35;
      padding: 2em 0;
      outline: none;
    }
  }

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  .md-wordstats {
    @include word-stats.word-stats;
    color: map-get(mn.$vars, main-fg-dim);
  }

  p img {
    max-width: 100%;
  }

  ul.bullet-list,
  ol.ordered-list {
    @include richtext.list;
  }

  p.paragraph {
    @include richtext.paragraph;

    // override milkdown's styles
    margin: unset;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  hr {
    @include richtext.hr;
  }

  .heading {
    @include richtext.heading;
  }

  @include richtext.heading-presets;

  /// mikldown
  // decorators

  --font-code: #{map-get(mn.$vars, main-font-monospace)};

  .strong {
    font-weight: 600;
  }

  .link {
    @include richtext.link;
  }

  .em {
    font-style: italic;
  }

  // task list label with material icons

  .task-list-item {
    label {
      width: 1em;
      height: 1em;
      left: -#{richtext.$list-padding};
      margin: 0.8em 0;
      font-size: 1em;

      span {
        font-size: 1em;
        position: absolute;
        top: 0;
        line-height: 1 !important;
      }
    }

    p.paragraph {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }

  // tables

  .tableWrapper {
    transform: translate(-1em, 0);

    table {
      @include richtext.table;

      table-layout: fixed;
      margin: 1em 0 1em 1em !important;

      * {
        font-size: inherit;
      }
      .milkdown-cell-left,
      .milkdown-cell-point,
      .milkdown-cell-top {
        position: absolute;
        background: map-get(mn.$vars, btn-main-bg);

        &:hover {
          background: map-get(mn.$vars, btn-main-hover-bg);
        }
      }

      .milkdown-cell-point {
        left: calc(-2px - 1em);
        top: calc(-2px - 1em);
        width: 1em;
        height: 1em;
      }

      .milkdown-cell-left {
        left: calc(-6px - 0.5em);
        top: 0;
        bottom: 0;
        width: 0.5em;
      }

      .milkdown-cell-top {
        left: 0;
        right: 0;
        top: calc(-6px - 0.5em);
        height: 0.5em;
      }

      th,
      td {
        padding: 0.4em;
        height: unset;
        min-width: 50px;
        position: relative;

        p {
          line-height: var(--md-line-height) !important;
        }

        &.selectedCell {
          // 1.1, otherwise the top and left borders won't show up
          border: solid 1.1px map-get(mn.$vars, main-link-fg);
        }
      }
    }
  }

  // tooltips

  .tooltip,
  .table-tooltip {
    background: var(--mnote-main-bg);
    box-shadow: var(--mnote-main-shadow);

    .icon {
      width: 2em;
      height: 2em;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: none;

      &:hover {
        background: map-get(mn.$vars, main-bg-secondary);
      }
    }
  }

  .tooltip-input {
    height: 2rem;
    box-sizing: border-box;
    width: fit-content;
    padding: 0 0 0 0.2em;
    gap: 0;
    background: map-get(mn.$vars, main-bg);
    box-shadow: map-get(mn.$vars, main-shadow);

    input {
      font-size: 0.9em;
      width: 15em;
      -webkit-user-select: text;

      @include mn.placeholder(map-get(mn.$vars, main-fg-secondary));
    }

    // apply
    button {
      cursor: pointer;
      height: 2.25em;
      color: var(--mnote-main-fg);
      font-size: 0.9em;
      padding: 0 0.5em;
      font-weight: 500;
      letter-spacing: unset;

      &:hover {
        background: map-get(mn.$vars, main-bg-secondary);
      }

      &.disable {
        color: map-get(mn.$vars, main-fg-dim);
      }
    }
  }

  //

  .blockquote {
    @include richtext.blockquote;
  }

  //code

  .code-inline {
    @include richtext.code-inline;
  }

  .code-fence {
    padding: 0 !important;
    font-size: 1em;

    .code-fence_select {
      font-family: var(--font-code);
      background-color: map-get(mn.$vars, main-bg-secondary);
      box-shadow: map-get(mn.$vars, main-shadow);
      left: 0;
      font-weight: unset;
      font-size: 0.85em;
    }

    .code-fence_value {
      font-family: var(--font-code);
      box-sizing: border-box;
      background-color: map-get(mn.$vars, main-bg-secondary);
      margin-left: 0;
      margin-bottom: 0.8em;
      font-weight: unset;
      font-size: 0.85em;
      height: 3em;
    }

    pre {
      @include richtext.code-fence;
      margin: 0 !important;
      @include mn.scrollbar(map-get(mn.$vars, main-scrollbar));
      overflow-x: scroll;
    }
  }
}
