@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-styles/mnote-rich-text" as richtext;
@use "~mnote-components/vanilla/word-stats";

.md-extension {
  --md-font-size: 1em;

  width: 100%;
  height: 100%;
  font-size: var(--md-font-size);

  * {
    font-size: var(--md-font-size);
  }

  .md-container {
    @include richtext.prelude;

    width: 80%;
    max-width: 740px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: map-get(mn.$vars, bg-main);

    .editor {
      box-sizing: border-box;
      line-height: 1.35;
      padding: 2em 0;
      outline: none;
    }
  }

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  .md-wordstats {
    @include word-stats.word-stats;
    color: map-get(mn.$vars, fg-dim);
  }

  ul.bullet-list,
  ol.ordered-list {
    @include richtext.list;
  }

  p.paragraph {
    @include richtext.paragraph;
  }

  hr {
    @include richtext.hr;
  }

  .heading {
    @include richtext.heading;
  }

  @include richtext.heading-presets;

  /// mikldown
  // decorators

  --font-code: #{map-get(mn.$vars, font-monospace)};

  .strong {
    font-weight: 600;
  }

  .link {
    @include richtext.link;
  }

  .em {
    font-style: italic;
  }

  //

  .blockquote {
    @include richtext.blockquote;
  }

  //code

  .code-inline {
    @include richtext.code-inline;
  }

  .code-fence {
    @include richtext.code-fence;

    div:first-child {
      box-sizing: border-box;
      width: 100%;
      min-width: 15ch;
      max-width: 30ch;
      margin: 1em;
      display: grid;
      grid-template-areas: select;
      align-items: center;
      cursor: pointer;
      background-color: map-get(mn.$vars, bg-secondary);
      position: relative;

      &:hover::after {
        background: map-get(mn.$vars, bg-secondary);
        color: map-get(mn.$vars, fg-secondary);
      }

      .code-fence_select {
        z-index: 1;
        font-family: var(--font);
        font-weight: 500;
        line-height: 1.5;
        color: map-get(mn.$vars, fg-dim);
        grid-area: select;
        font-size: 0.85em;
        outline: none;
        appearance: none;
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        background-color: transparent;
      }

      option {
        background-color: map-get(mn.$vars, bg-secondary);
        font-weight: normal;
        display: block;
        white-space: nowrap;
        min-height: 1.2em;
        padding: 0 2px 1px;
      }
    }
  }
}
