@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-styles/mnote-rich-text" as richtext;
@use "~mnote-components/vanilla/word-stats";

.md-extension {
  --md-font-size: 1em;
  --md-line-height: 1.35;

  width: 100%;
  height: 100%;
  font-size: var(--md-font-size);

  * {
    font-size: 1em;
    line-height: var(--md-line-height);
  }

  .md-container {
    @include richtext.prelude;

    width: 80%;
    max-width: 740px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: map-get(mn.$vars, main-bg);

    .editor {
      box-sizing: border-box;
      line-height: 1.35;
      padding: 2em 0;
      outline: none;
    }
  }

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
  }

  .md-wordstats {
    @include word-stats.word-stats;
    color: map-get(mn.$vars, main-fg-dim);
  }

  p img {
    max-width: 100%;
  }

  ul.bullet-list,
  ol.ordered-list {
    @include richtext.list;
  }

  p.paragraph {
    @include richtext.paragraph;

    // override milkdown's styles
    margin: unset;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  hr {
    @include richtext.hr;
  }

  .heading {
    @include richtext.heading;
  }

  @include richtext.heading-presets;

  /// mikldown
  // decorators

  --font-code: #{map-get(mn.$vars, main-font-monospace)};

  .strong {
    font-weight: 600;
  }

  .link {
    @include richtext.link;
  }

  .em {
    font-style: italic;
  }

  // task list label with material icons

  .task-list-item {
    label {
      width: 1em;
      height: 1em;
      top: 0.3em;
      left: -1.4em;

      span {
        font-size: 1em;
      }
    }

    p.paragraph {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }

  //

  .blockquote {
    @include richtext.blockquote;
  }

  //code

  .code-inline {
    @include richtext.code-inline;
  }

  .code-fence {
    padding: 0 !important;
    font-size: 1em;

    .code-fence_select {
      font-family: var(--font-code);
      background-color: map-get(mn.$vars, main-bg-secondary);
      box-shadow: map-get(mn.$vars, main-shadow);
      left: 0;
      font-weight: unset;
      font-size: 0.85em;
    }

    .code-fence_value {
      font-family: var(--font-code);
      box-sizing: border-box;
      background-color: map-get(mn.$vars, main-bg-secondary);
      margin-left: 0;
      margin-bottom: 0.8em;
      font-weight: unset;
      font-size: 0.85em;
      height: 3em;
    }

    pre {
      @include richtext.code-fence;
      margin: 0 !important;
    }
  }
}
