@use "sass:math";
@import "~mnote-styles/mnote-styles"; // @use throws

$out-of-range-color: map-get($vars, fg-dim);
$out-of-range-bg-color: map-get($vars, bg-secondary);

$calendar-border: map-get($vars, border-main);
$cell-border: map-get($vars, border-main);

$border-color: map-get($vars, border-main);

$segment-width: percentage(math.div(1, 7));

$time-selection-color: map-get($vars, fg-secondary);
$time-selection-bg-color: map-get($vars, bg-dim);
$date-selection-bg-color: map-get($vars, bg-dim);

$event-bg: map-get($vars, btn-emphasis-bg);
$event-border: #00000000;
$event-outline: #00000000;
$event-color: map-get($vars, btn-emphasis-fg);
$event-border-radius: 5px;
$event-padding: 2px 5px;
$event-zindex: 4;

$btn-color: map-get($vars, fg-secondary);
$btn-bg: map-get($vars, bg-main);
$btn-border: #00000000;

$current-time-color: #f66;

$rbc-css-prefix: rbc-i;

$today-highlight-bg: map-get($vars, btn-main-bg);
