@use "~mnote-styles/mnote-vars" as mn;

.plaintext-editor {
  width: 100%;
  height: 100%;
  display: flex;

  .plaintext-textarea {
    --tab-size: 4;
    --font-size: 13px;
    --line-height: 1.5;

    tab-size: var(--tab-size);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: 2em 3em 3em;
    box-sizing: border-box;
    width: 100%;
    // textarea height 100% overflows parent in safari
    // but flexbox solves the problem
    // https://stackoverflow.com/questions/59010380
    flex: 1 1 auto;
    resize: none;
    outline: none;
    border: none;
    font-family: map-get(mn.$vars, main-font-monospace);
    color: inherit;
    background: inherit;

    @include mn.scrollbar(map-get(mn.$vars, main-scrollbar));
  }
}
