@mixin width($width) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }
}

@mixin scrollbar($color) {
  @include width(6px);

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
