@mixin scrollbar($color) {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
