@use "~mnote-styles/mnote-vars" as mn;

@import "./styles/AddList.css";
@import "./styles/Board.css";
@import "./styles/Card.css";
@import "./styles/CardEditor.css";
@import "./styles/EditButtons.css";
@import "./styles/List.css";
@import "./styles/ListEditor.css";
@import "./styles/icons.css";

.kanban-extension {
  width: 100%;
  height: 100%;
  padding: 0 0 0 1em;
  box-sizing: border-box;

  color: map-get(mn.$vars, fg-main);
  font-family: map-get(mn.$vars, font-main);

  .board {
    @include mn.scrollbar(map-get(mn.$vars, fg-dimmer));
    width: 100%;
    padding: 10px 1em 10px 0;
  }

  // @import "./styles/AddList.css";

  .add-list-editor {
    background: map-get(mn.$vars, bg-secondary);
  }

  // @import "./styles/Board.css";

  .add-list-button {
    background-color: map-get(mn.$vars, btn-main-bg);
    color: map-get(mn.$vars, btn-main-fg);
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  // @import "./styles/Card.css";

  .card {
    box-shadow: map-get(mn.$vars, shadow);
    background: map-get(mn.$vars, bg-main);
    border: 0;

    textarea {
      background: map-get(mn.$vars, bg-main);
    }
  }

  .card:hover {
    background: map-get(mn.$vars, bg-main);
  }

  .card-icon {
    background: none;
  }

  .icon-class {
    fill: map-get(mn.$vars, fg-secondary);
    stroke: map-get(mn.$vars, fg-secondary);
  }

  .card-icon:hover {
    background: map-get(mn.$vars, fg-dimmer);
  }

  .card-text {
    color: map-get(mn.$vars, fg-secondary);
  }

  // import "./styles/CardEditor.css";

  .edit-card .card:hover {
    background: map-get(mn.$vars, bg-main);
  }

  // @import "./styles/EditButtons.css";

  .edit-button.save {
    box-shadow: none;
    background: map-get(mn.$vars, btn-emphasis-bg);
    color: map-get(mn.$vars, btn-emphasis-fg);

    &:hover {
      background: map-get(mn.$vars, btn-emphasis-bg-hover);
      color: map-get(mn.$vars, btn-emphasis-fg-hover);
    }
  }

  // @import "./styles/icons.css";
  // @import "./styles/List.css";

  .list {
    background: map-get(mn.$vars, bg-secondary);
    border: none;
  }

  .lists-cards {
    @include mn.scrollbar(map-get(mn.$vars, fg-dimmer));
  }

  .toggle-add-card {
    color: map-get(mn.$vars, fg-secondary);
  }

  .toggle-add-card:hover {
    background-color: map-get(mn.$vars, fg-dimmer);
    color: map-get(mn.$vars, fg-secondary);
  }

  // @import "./styles/ListEditor.css";

  .list-title-edit .icon-class {
    fill: map-get(mn.$vars, fg-secondary);
    stroke: map-get(mn.$vars, fg-secondary);
  }

  .list-title-edit .icon-wrapper:hover {
    background: map-get(mn.$vars, fg-dimmer);
  }

  .list-title-textarea {
    background: map-get(mn.$vars, bg-main);
  }

  .list-title-textarea:focus {
    box-shadow: inset 0 0 0 2px map-get(mn.$vars, border-main);
  }
}
