@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-styles/mnote-rich-text" as richtext;

// https://css2sass.herokuapp.com/
// https://github.com/JiHong88/SunEditor/blob/da06c3c23b9b9cdee314f32067b094c60497d0fb/src/assets/css/suneditor.css

@use "./suneditor/link-dialog.scss";
@use "./suneditor/controller.scss";
@use "./suneditor/submenu.scss";
@use "./suneditor/button.scss";
@use "./suneditor/editable.scss";

.richtext-extension {
  height: 100%;
  display: flex;
  flex-direction: column;

  * {
    box-sizing: border-box;
  }

  .richtext-toolbar {
    padding: 0 2em;

    .se-btn-tray {
      .se-toolbar-separator-vertical {
        height: 1.2em;
        display: inline;
        margin: auto 0.2em;
        border-left: solid 2px;
        color: map-get(mn.$vars, fg-dimmer);
      }

      .se-btn-module.se-btn-module-border {
        display: inline-block;

        ul.se-menu-list {
          list-style: none;
          width: auto;
          height: auto;
          padding: 0;
          margin: 0;

          li {
            display: inline-block;

            button.se-btn {
              $theme: (
                bg: none,
                bg-hover: none,
                bg-active: none,
                bg-disabled: none,
                fg: map-get(mn.$vars, fg-secondary),
                fg-hover: map-get(mn.$vars, fg-main),
                fg-active: map-get(mn.$vars, fg-main),
                fg-disabled: map-get(mn.$vars, fg-dim),
              );

              @include button.button($theme);
            }
          }
        }
      }
    }

    @include submenu.submenu;

    .se-menu-tray {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 0px;
    }
  }

  // this file hould be reserved just for core styles
  // plugins and styles that are too long to go here goes
  // in the ./suneditor directory

  .sun-editor {
    // fix the overflow issue
    // https://stackoverflow.com/questions/36230944/
    min-height: 0;

    @include link-dialog.link-dialog;
    @include controller.controller;
    @include submenu.submenu;
  }

  .se-container,
  .sun-editor {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .se-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    @include mn.scrollbar(map-get(mn.$vars, bg-secondary));

    // icons

    .close > svg,
    .se-dialog-close > svg {
      width: 10px;
      height: 10px;
    }

    .se-btn-select > svg {
      float: right;
      width: 10px;
      height: 10px;
    }

    .se-btn-list > .se-list-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: -1px 10px 0 0;
      vertical-align: middle;
    }

    .se-line-breaker > button > svg {
      width: 24px;
      height: 24px;
    }

    /** --- line breaker */
    .se-line-breaker {
      display: none; // disable
      position: absolute;
      display: none;
      width: 100%;
      height: 1px;
      cursor: text;
      border-top: 1px solid #3288ff;
      z-index: 7;

      > button.se-btn {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        top: -15px;
        float: none;
        left: -50%;
        background-color: #fff;
        border: 1px solid #0c2240;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
          background-color: #fff;
          border-color: #041b39;
        }
      }
    }

    .se-line-breaker-component {
      display: none; // disable
      position: absolute;
      display: none;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border: 1px solid #0c2240;
      opacity: 0.6;
      border-radius: 4px;
      cursor: pointer;
      z-index: 7;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .se-tooltip {
    position: relative;
    overflow: visible;

    .se-tooltip-inner {
      visibility: hidden;
      position: absolute;
      display: block;
      width: auto;
      top: 120%;
      left: 50%;
      background: transparent;
      opacity: 0;
      z-index: 1;
      line-height: 1.5;
      transition: opacity 0.5s;
      margin: 0;
      padding: 0;
      bottom: auto;
      float: none;
      pointer-events: none;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;

      .se-tooltip-text {
        position: relative;
        display: inline-block;
        width: auto;
        left: -50%;
        font-size: 0.8em;
        margin: 0;
        padding: 4px 6px;
        border-radius: 2px;
        background-color: map-get(mn.$vars, btn-emphasis-bg);
        color: map-get(mn.$vars, btn-emphasis-fg);
        text-align: center;
        line-height: unset;
        white-space: nowrap;
        cursor: auto;

        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent
            map-get(mn.$vars, btn-emphasis-bg) transparent;
        }
        .se-shortcut {
          display: block;
        }
        .se-shortcut > .se-shortcut-key {
          display: inline;
          font-weight: bold;
        }
      }
    }

    &:hover .se-tooltip-inner {
      visibility: visible;
      opacity: 1;
    }
  }

  .se-resizing-bar.sun-editor-common.se-resizing-none {
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    font-size: 0.8em;
    color: map-get(mn.$vars, fg-dim);
  }

  .se-resizing-bar.sun-editor-common.se-resizing-none {
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    font-size: 0.8em;
    color: map-get(mn.$vars, fg-dim);
  }

  .sun-editor-editable {
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    figure {
      display: block;
      outline: none;
      margin: 0;
      padding: 0;

      figcaption {
        padding: 0.5em;
        margin: 0.5em 0 0 0;
        background-color: map-get(mn.$vars, bg-secondary);
        outline: none;
      }
    }
  }

  .se-wrapper {
    height: 100%;
    position: relative;

    @include editable.editable;

    .se-wrapper-inner.se-wrapper-wysiwyg.sun-editor-editable {
      @include richtext.prelude;
      padding: 2em 0;
      width: 80%;
      margin: auto;
      max-width: 720px;
      outline: none;
      -webkit-user-select: text;
      user-select: text;

      p {
        @include richtext.paragraph;
      }

      ul,
      ol {
        @include richtext.list;
      }

      p {
        @include richtext.paragraph;
      }

      hr {
        @include richtext.hr;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include richtext.heading;
      }

      @include richtext.heading-presets;

      li {
        line-height: 1.5;
        margin: 0.5rem 0;
      }

      blockquote {
        @include richtext.blockquote;
      }

      pre {
        @include richtext.code-fence;
      }

      table {
        display: table;
        table-layout: auto;
        border: 1px solid rgb(204, 204, 204);
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px;
        background-color: transparent;
        border-spacing: 0;
        border-collapse: collapse;
      }

      &.se-rtl table {
        margin: 0 0 10px auto;
      }

      table {
        @include richtext.table;

        &.se-table-size-auto {
          width: auto !important;
        }

        &.se-table-size-100 {
          width: 100% !important;
        }

        &.se-table-layout-auto {
          table-layout: auto !important;
        }

        &.se-table-layout-fixed {
          table-layout: fixed !important;
        }

        td.se-table-selected-cell,
        th.se-table-selected-cell {
          outline: 1px double #4592ff;
        }
      }
    }

    textarea.se-wrapper-inner.se-wrapper-code {
      @include richtext.code-fence;
      @include richtext.code-inline;

      outline: none;
      padding: 1em;
      margin: 1em 3em;
      border: none;
      resize: none;
      width: -webkit-fill-available;
    }
  }

  .se-notice {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.5em;
    background: map-get(mn.$vars, btn-main-bg);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    color: map-get(mn.$vars, btn-main-fg);

    span {
      width: 100%;
      height: auto;
      min-height: 1em;
    }

    button.close {
      margin: 0.4em;
      box-sizing: border-box;
      border: 0;
      background: 0;
      padding: 0;
      cursor: pointer;

      svg {
        width: 0.7em;
        height: 0.7em;
        box-sizing: border-box;
        fill: map-get(mn.$vars, btn-main-fg);
      }
    }
  }
}
