@use "./mnote-vars.scss" as mn;

@mixin prelude {
  color: map-get(mn.$vars, main-fg);
}

@mixin paragraph {
  word-break: break-word;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: unset;
}

@mixin heading {
  word-break: break-word;
  font-weight: bold;
  letter-spacing: unset;
}

@mixin heading-presets {
  h1 {
    font-size: 2em;
    margin: 0.67em 0 !important;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.83em 0 !important;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0 !important;
  }
  h4 {
    margin: 1.33em 0 !important;
  }
  h5 {
    font-size: 0.83em;
    margin: 1.67em 0 !important;
  }
  h6 {
    font-size: 0.67em;
    margin: 2.33em 0 !important;
  }
}

@mixin link {
  word-break: break-word;
  color: map-get(mn.$vars, main-link-fg);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  letter-spacing: unset;
}

$list-padding: 1.2em;

@mixin list {
  padding-inline-start: $list-padding;
}

@mixin hr {
  border: none;
  border-top: solid 1px map-get(mn.$vars, main-border);
}

@mixin blockquote {
  padding-left: 1em;
  border-left: 4px solid;
  border-left-color: map-get(mn.$vars, main-fg-dimmer);
  color: map-get(mn.$vars, main-fg-secondary);
  letter-spacing: unset;
  margin: 0;
  * {
    line-height: 1.5em;
    font-size: 1em;
  }
}

@mixin code-inline {
  background-color: map-get(mn.$vars, main-bg-secondary);
  border-radius: 2px;
  font-weight: 500;
  font-family: map-get(mn.$vars, main-font-monospace);
  font-size: 0.9em;
  padding: 0 0.2em;
  color: map-get(mn.$vars, main-fg);
  letter-spacing: unset;
}

@mixin code-fence {
  border-radius: 5px;
  font-size: 0.85em;
  padding: 1.2em;
  overflow: hidden;
  background-color: map-get(mn.$vars, main-bg-secondary);
  color: map-get(mn.$vars, main-fg);
  letter-spacing: unset;
  font-family: map-get(mn.$vars, main-font-monospace);
  line-height: 1.5;

  * {
    margin: 0;
  }

  pre {
    font-family: map-get(mn.$vars, main-font-monospace);
    letter-spacing: unset;
    margin: 0 1em;
    line-height: 1.5;
  }

  code {
    font-family: map-get(mn.$vars, main-font-monospace);
    line-height: 1.5;
    letter-spacing: unset;
  }
}

@mixin table {
  display: table;
  table-layout: auto;
  border: 1px solid map-get(mn.$vars, main-border);
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid map-get(mn.$vars, main-border);
  }

  tr {
    border: 1px solid map-get(mn.$vars, main-border);
  }

  th {
    background-color: map-get(mn.$vars, main-bg-secondary);
    border: 1px solid map-get(mn.$vars, main-border);
    padding: 0.4em;
    background-clip: padding-box;
  }

  td {
    border: 1px solid map-get(mn.$vars, main-border);
    padding: 0.4em;
    background-clip: padding-box;
  }
}
