// forward utilities
@forward "./util/scrollbar.scss";

$var-names: (
  "main-font",
  "main-font-monospace",
  "main-fg",
  "main-fg-secondary",
  "main-fg-dim",
  "main-fg-dimmer",
  "main-bg",
  "main-bg-secondary",
  "main-shadow",
  "main-overlay-bg",
  "main-scrollbar",
  "main-error",
  "main-link-fg",
  "main-border",
  "main-border-dim",
  // sidebar
  "sidebar-bg",
  "sidebar-fg",
  "sidebar-scrollbar",
  "sidebar-item-icon",
  "sidebar-item-hover-bg",
  "sidebar-item-hover-fg",
  "sidebar-item-hover-icon",
  "sidebar-item-focused-bg",
  "sidebar-item-focused-fg",
  "sidebar-item-focused-icon",
  "sidebar-filetree-border",
  "sidebar-mark-fg",
  "sidebar-mark-bg",
  // buttons, assuming background is main-bg
  "btn-main-fg",
  "btn-main-fg-hover",
  "btn-main-bg",
  "btn-main-bg-hover",
  "btn-emphasis-fg",
  "btn-emphasis-hover-fg",
  "btn-emphasis-bg",
  "btn-emphasis-hover-bg",
  // inputs,  assuming background is main-bg
  "switch-on-bg",
  "switch-on-fg",
  "switch-on-hover-bg",
  "switch-on-hover-fg",
  "switch-off-bg",
  "switch-off-fg",
  "switch-off-hover-bg",
  "switch-off-hover-fg"
);

// map of root variables
// all keys can be found in the default theme below

$vars: ();

// prefix the variables
@each $var in $var-names {
  $vars: map-merge(
    $vars,
    (
      $var: var(#{"--mnote-" + $var}),
    )
  );
}
