@use "./mnote-vars.scss" as mn;

@mixin text-input-base {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 5px;
  background: map-get(mn.$vars, main-bg-secondary);
  color: map-get(mn.$vars, main-fg);
  font-family: map-get(mn.$vars, main-font);
  line-height: initial;
}

@mixin text-input {
  @include text-input-base;
  padding: 0.8em;
  font-size: 13px;
}

@mixin text-input-small {
  @include text-input-base;
  font-size: 0.9em;
  padding: 0.5em 0.3em;
  border: solid 1px transparent;
  border-radius: 0.2em;
}

@mixin button-base {
  font-family: map-get(mn.$vars, main-font);
  font-size: 13px;
  display: inline-block;
  flex-direction: row;
  color: map-get(mn.$vars, main-fg);
  padding: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

@mixin button-normal {
  @include button-base;
  background: map-get(mn.$vars, btn-main-bg);
  color: map-get(mn.$vars, btn-main-fg);

  &:hover {
    background: map-get(mn.$vars, btn-main-hover-bg);
    color: map-get(mn.$vars, btn-main-hover-fg);
  }
}

@mixin button-emphasis {
  @include button-base;
  background: map-get(mn.$vars, btn-emphasis-bg);
  color: map-get(mn.$vars, btn-emphasis-fg);

  &:hover {
    background: map-get(mn.$vars, btn-emphasis-hover-bg);
    color: map-get(mn.$vars, btn-emphasis-hover-fg);
  }
}
