/*

$a: (
  bg: none,
  bg-hover: map-get(mn.$vars, main-bg-secondary),
  bg-active: map-get(mn.$vars, main-bg-secondary),
  bg-disabled: none,
  fg: map-get(mn.$vars, main-fg),
  fg-hover: map-get(mn.$vars, main-fg),
  fg-active: #4592ff,
  fg-disabled: map-get(mn.$vars, main-fg-dim),
);

*/

@mixin button($theme) {
  height: 2em;
  width: 2em;
  background: map-get($theme, bg);
  border-radius: 5px;
  border: 0;
  padding: 0.5em;
  cursor: pointer;
  color: map-get($theme, fg);

  svg {
    width: 100%;
    height: 100%;
    fill: map-get($theme, fg);
    pointer-events: none;
  }

  span.se-tooltip-inner {
    position: absolute;
    top: 100%;
  }

  &:hover {
    background: map-get($theme, bg-hover);
    color: map-get($theme, fg-hover);

    svg {
      fill: map-get($theme, fg-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: map-get($theme, bg-disabled);
    color: map-get($theme, fg-disabled);

    &:hover {
      color: map-get($theme, fg-disabled);
    }

    svg,
    &:hover svg {
      fill: map-get($theme, fg-disabled);
    }
  }

  &:enabled {
    &.active {
      color: map-get($theme, fg-active);
      svg {
        fill: map-get($theme, fg-active);
      }
    }
  }

  &.se-btn-select {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-8%); // correct the weird offset

    span.txt {
      font-size: 85%;
    }

    svg {
      width: 0.6em;
      height: 0.6em;
      display: block;
      margin-left: 0.4em;
    }
  }
}
