@use "~mnote-styles/mnote-vars" as mn;
@use "~mnote-styles/mnote-rich-text" as richtext;
@use "~mnote-styles/mnote-inputs" as inputs;
@use "./button";

// todo

@mixin dialog {
  .se-dialog {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;

    a {
      color: map-get(mn.$vars, main-link-fg);
    }

    label,
    input,
    button {
      font-size: 14px;
      line-height: 1.5;
      color: map-get(mn.$vars, main-fg);
      margin: 0;
    }

    .se-btn {
      $btn-theme: (
        bg: none,
        bg-hover: none,
        bg-active: none,
        bg-disabled: none,
        fg: map-get(mn.$vars, main-fg-secondary),
        fg-hover: map-get(mn.$vars, main-fg),
        fg-active: map-get(mn.$vars, main-fg),
        fg-disabled: map-get(mn.$vars, main-fg-dim),
      );
      @include button.button($btn-theme);
    }

    .se-dialog-back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: map-get(mn.$vars, main-overlay-bg);
    }

    .se-dialog-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .se-dialog-content {
        position: relative;
        width: auto;
        max-width: 20em;
        margin: 1.75em auto;
        background-color: map-get(mn.$vars, main-bg);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-radius: 4px;
        outline: 0;
        box-shadow: map-get(mn.$vars, main-shadow);

        label {
          display: inline-block;
          max-width: 100%;
          margin-bottom: 0.2em;
          font-weight: bold;
        }

        .se-btn-primary {
          @include inputs.button-emphasis;

          display: inline-block;
          margin: 0.5em 0;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
        }
      }

      .se-dialog-header {
        height: 50px;
        padding: 6px 15px;
        border-bottom: 1px solid map-get(mn.$vars, main-border);

        .se-dialog-close {
          float: right;
          filter: alpha(opacity = 100);
          opacity: 1;
        }

        .se-modal-title {
          float: left;
          font-size: inherit;
          font-weight: bold;
          margin: 0;
          padding: 0;
          line-height: 2.5;
        }
      }

      .se-dialog-body {
        position: relative;
        padding: 1em;

        :first-child {
          border-bottom: none !important; // somehow has a dashed border bottom
        }
      }

      // the "Select from files" input in the image dialog
      .se-dialog-content.se-dialog-image
        .se-dialog-body
        > :first-child
        > :first-child {
        // tauri does not support HTML file dialogs
        // https://github.com/tauri-apps/wry/issues/305
        display: none !important;
      }

      input:disabled {
        background-color: #f3f3f3;
      }

      .se-dialog-size-text {
        width: 100%;

        .size-w,
        .size-h {
          width: 5em;
          text-align: center;
        }
      }

      .se-dialog-size-x {
        margin: 0 0.8em;
        width: 2em;
        text-align: center;
      }

      .se-dialog-footer {
        height: auto;
        min-height: 1em;
        text-align: right;
        border-top: 1px solid map-get(mn.$vars, main-border);
        padding: 0.5em;

        > div {
          float: left;

          > label {
            margin: 0 5px 0 0;
          }
        }
      }

      .se-dialog-btn-radio {
        margin-left: 12px;
        margin-right: 6px;
      }

      .se-dialog-btn-check {
        margin-right: 4px;
      }

      .se-dialog-form-footer {
        margin-bottom: 0;

        .se-dialog-btn-check {
          margin-left: 0;
          margin-right: 4px;
        }

        label:first-child {
          margin-right: 16px;
          margin-left: 0;
        }
      }

      .se-dialog-form {
        margin-bottom: 0.8em;

        label {
          margin-top: 0.5em;
        }

        .se-dialog-form-files {
          position: relative;
          display: flex;
          align-items: center;

          > input {
            flex: auto;
          }

          input[type="file"] {
            // override
            background: none;
            padding: 0;

            &::-webkit-file-upload-button {
              @include inputs.button-normal;
              margin-right: 0.5em;
            }
            &::-ms-browse {
              @include inputs.button-normal;
              margin-right: 0.5em;
            }
          }

          .se-dialog-files-edge-button {
            flex: auto;
          }
        }

        .se-input-select {
          display: inline-block;
          width: auto;
          height: 34px;
          font-size: 14px;
          text-align: center;
          line-height: 1.42857143;
        }

        .se-input-control {
          @include inputs.text-input;
          display: inline-block;
          width: 70px;
          height: 34px;
          text-align: center;
        }

        .se-input-form {
          @include inputs.text-input;
        }

        .se-video-ratio {
          width: 70px;
          margin-left: 4px;
        }

        .se-input-form.se-math-exp {
          @include richtext.code-fence;
          @include mn.scrollbar(map-get(mn.$vars, main-scrollbar));

          resize: vertical;
          height: 4rem;
          font-size: 1em;
          padding: 0.5em;
          direction: ltr;
          overflow-y: auto;

          ::-webkit-resizer {
            border: none;
          }
        }

        .se-input-select.se-math-size {
          width: 6em;
          margin-left: 1em;
          background: map-get(mn.$vars, main-bg-secondary);
          color: map-get(mn.$vars, main-fg);
          border-radius: 0.2em;
          padding: 0.5em 0.3em;
          outline: none;
          border: none;
        }

        .se-math-preview {
          font-size: 1em;

          > span {
            color: inherit !important;
            display: inline-block;
            * {
              direction: ltr;
              color: inherit !important;
            }
          }
        }
      }

      .se-link-preview {
        display: block;
        height: auto;
        font-size: 0.8em;
        font-weight: normal;
        font-family: inherit;
        color: map-get(mn.$vars, main-fg-dim);
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: pre;
      }

      .se-anchor-preview-form {
        width: 100%;
        display: flex;
        margin-top: 4px;

        .se-svg.se-anchor-preview-icon {
          flex: unset;
          line-height: 1.5;
          // color: map-get(mn.$vars, main-link-fg);

          // .se-svg
          width: 1.2em;
          height: 1.2em;
          margin: auto;
          fill: currentColor;
          display: block;
          text-align: center;
          float: none;
          margin-right: 0.3em;
        }

        .se-link-preview {
          flex: auto;
          margin: 0;
        }
      }

      .se-anchor-rel {
        height: 34px;
      }

      .se-anchor-rel-btn {
        width: 46px;
        // color: map-get(mn.$vars, main-link-fg);
      }

      .se-anchor-rel-wrapper {
        display: flex;
        line-height: 1.5;
        padding-top: 6px;
      }

      .se-anchor-rel-preview {
        text-align: left;
      }
    }
  }

  .se-dialog-tabs {
    display: none;
  }
}

/* dialog - modal */

@media screen and (max-width: 509px) {
  .sun-editor .se-dialog .se-dialog-inner .se-dialog-content {
    width: 100%;
  }
}
