/*
$theme: (
  main-bg: #eee,
  bg-hover: #ddd,
  shadow: 0 2px 5px #000,
  main-fg: #222,
  fg-shortcut: #222,
  border-divider: 1px solid #ccc,
);
*/

@use "../resets.scss";

@mixin menu($theme) {
  .menu {
    position: absolute;
    z-index: 50;
    background: map-get($theme, main-bg);
    padding: 0.5em 0;
    border-radius: 5px;
    box-sizing: border-box;
    width: max-content;
    box-shadow: map-get($theme, shadow);
    min-width: 210px;
    font-size: 13px;

    .menu-title {
      color: map-get($theme, title-fg);
      padding: 0.5em;
      margin: 0 0.4em;
    }

    .menu-item {
      @include resets.input;
      font-family: inherit;
      color: map-get($theme, main-fg);
      display: flex;
      font-size: inherit;
      flex-direction: row;
      padding: 0.5em;
      margin: 0 0.4em;
      border-radius: 5px;
      width: calc(100% - 0.8em);
      cursor: pointer;
      justify-content: space-between;

      &:hover {
        background: map-get($theme, bg-hover);
      }

      .menu-item-right,
      .menu-item-left {
        width: fit-content;
      }

      .menu-item-left {
        display: flex;
        flex-direction: row;

        .menu-item-left-icon {
          width: 1em;
          height: 1em;
          min-width: 1em;
          margin: auto 0.5em auto 0;

          svg {
            width: 100%;
            height: 100%;
          }

          .fill {
            fill: map-get($theme, icon-fg);
          }
          .stroke {
            stroke: map-get($theme, icon-fg);
          }
        }
      }

      .menu-item-right {
        color: map-get($theme, fg-shortcut);
        text-align: right;
        margin-left: 2em;
      }
    }

    .menu-divider {
      width: 100%;
      height: 1px;
      margin: 0.3em 0;
      box-sizing: border-box;
      border: 0;
      background: map-get($theme, border-divider);
    }
  }
}
